<%- include("../partials/header.ejs") %>
<body>
    <main id="home-style">
        <div class="vertical-background-1">
            <div>
                <h1>Cadastro de Usu치rio</h1>
                <hr>
            </div>
        </div>
       
        <div id="nav-style-div">
                <div class="cadastro-container">
                    <% if(msgErr) {%>
                        <div class="alert alert-danger">
                            <p><%= msgErr %></p>
            
                        </div>
                    <% } %>
                    <% if(msgSuccess) {%>
                        <div class="alert alert-success">
                            <p><%= msgSuccess %></p>
            
                        </div>
                    <% } %>
                    <form action="/cadastro/salvar" method="post">
                        <div>
                            <label for="">Nome: </label>
                            <input name="nome" type="text" placeholder="Usu치rio"/>
                        </div>
                        
                        <div>
                            <label for="">Email: </label>
                            <input name="email" type="text" placeholder="Usu치rio"/>
                        </div>
            
                        <div>
                            <label for="">Nome de usuario: </label>
                            <input name="nomeUsuario" type="text" placeholder="Usu치rio"/>
                        </div>
            
                        <div>
                            <label for="">Senha: </label>
                            <input name="senha" type="password" placeholder="senha"/>
                        </div>
                        <button class="botao-estilo">Cadastrar</button>
                        <a class="botao-estilo" href="/login/usuario"><span>Login</span></a>
            
                    </form>
                </div>
        </div>
       
        <div class="vertical-background-2">
            <img width="600px" src="/img/Desk-Manager-Controle-de-Despesas.png" alt="Homem">
        </div>
    </main>
</body>
<%- include("../partials/footer.ejs") %>
